DB_URL=jdbc:postgresql://localhost:5433/siamese
DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password

POSTGRES_DB=siamese
POSTGRES_USER=your_database_username
POSTGRES_PASSWORD=your_database_password

MARKET_DATA_API_KEY=
CLERK_ISSUER_URI=